.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: 000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  list-style: none;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.sedona-hills {
  width: 1200px;
  height: 800px;

  background-image: url("../img/background-photo.jpg");
}

.main-section {
  background-color: white;
}

.sedona-info {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000
}

.sedona-more-info {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  color: #333333;
}

.hotel-booking {
  background-color: white;
}

.booking-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  color: #000000
}

.booking-more-info {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  color: #333333;
}

.booking-form-title {
  font-family: "PT Sans", Arial, sans-serif;
  line-height: 26px;
  font-size: 21px;
  letter-spacing: normal;
  text-align: center;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: white;

  background-color: #766357;
}

.arriving-calendar {
  width: 346px;
  height: 38px;

  background-color: #f2f2f2;
  border: none;
}

.arriving-calendar::after {
  content: "";

  width: 21px;
  height: 22px;

  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  opacity: 0.3;

  display: block;
}

.change-button {
  width: 38px;
  height: 38px;

  font: inherit;
  font-size: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);

  border: none;
  background-color: #f2f2f2;

}

.change-button:hover,
.change-button:focus {
  color: black;
}

.change-button:active {
  color: #81b3d2;
}

.type-form-text {
  width: 38px;
  height: 38px;

  color: rgba(0, 0, 0, 0.3);
  border: none;
  background-color: #f2f2f2;
}

.popup-button {
  font: inherit;
  color: white;

  background-color: #81b3d2;
}

.popup-button:hover,
.popup-button:focus {
  background-color: #669ec0;
}

.popup-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-hashtag {
  font-family: "PT Sans", Arial, sans-serif;
  width: 136px;
  height: 16px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.footer-social ul {
  list-style: none;
}

.footer-social {
  text-align: center;
}

.footer-copyright {
  text-align: center;
}

/* страница каталога */

.inner-page a {
  text-decoration: none;

  color: black;
}

.hotel-name {
  font-family: "PT Sans";
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #000000;
}

.hotel-price {
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #333333;
}

.more-button a {
  color: white;

  background-color: #81b3d2;
}

.more-button a:hover,
.more-button a:focus {
  background: #669ec0;
}

.more-button a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.book-button a {
  color: white;

  background-color: #766357;
}

.book-button a:hover,
.book-button a:focus {
  background: #604e43;
}

.book-button a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-rating {
  color: #666666;

  background-color: #f2f2f2;
}

.website-by {
  width: 74px;
  height: 11px;

  font-family: "PT Sans";
  font-size: 14px;
  line-height: 1.86;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
